.warning{
    background-color: rgb(249,229,224);
    color: rgb(162,105,96);
    padding: 1rem;
    font-weight: 400;
}

label{
    font-size: x-large;
    font-weight: 400;
}

form{
    font-size: large;
    margin-left: 3rem;
    margin-right: 50%;
    
}

input{
    font-size: large;
}

h2{
    font-size: xx-large;
    margin-left: 3rem;
    padding-bottom: 2rem;
    font-weight: normal;
}

