mat-sidenav-container{
    height:100%;
}
mat-sidenav{
    padding: 0px;
    color: white;
    background-color: #3F51B5;
    width: 350px;
}
span{
    font-size: 20px;
    padding:1rem;
}
.mat-expansion-panel-header {
    .mat-icon{
        padding: 0rem;
        width: 35px;
        font-size: 20px;
    }
    height: 70px;
    font-size: 20px;
    padding-left: 1rem;
    width:100%;
}

.mat-list{
    .mat-icon{
        color:black;
        font-size: 15px;
        width: 25px;
    }
    button{
        background-color: white;
        border: 0;
        font-size: 25px;        
    }
    padding-left: 0px;
}

.mat-expansion-panel-header[aria-disabled=true] {
   color:black;
}

#Calendar{
    .mat-icon{
        font-size: 8px;
    }
    button{
        background-color: white;
        border: 0;
        font-size: 15px;        
    }
    padding-left: 0px;

}

