<p>
  <mat-toolbar color="primary">
    <button (click)="open(this.opened)">
      <mat-icon>{{icon}}</mat-icon>
    </button>
    <span>Progressive Student Dashboard</span>
    <span class="example-spacer"></span>

    <button>
      <mat-icon>search</mat-icon>
    </button>
    <button>
      <mat-icon>notifications</mat-icon>
    </button>

    <button>
      <mat-icon routerLink="/logout"> person</mat-icon>
    </button>
  </mat-toolbar>
</p>



<!-- Navbar
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark py-3 px-3 fixed-top">
      <div class="container">
        <h1 href="#" class="navbar-brand fs-3">Progressive Student Dashboard </h1>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto fs-4">
            <li class="nav-item px-3">
              <a href="#search" class="nav-link">
                <i class="bi bi-search" style="font-size: 2rem;"></i>
              </a>
            </li>
            <li class="nav-item px-3">
                <a href="#notifications" class="nav-link">
                    <i class="bi bi-bell" style="font-size: 2rem;"></i>
                </a>
            </li>
            <li class="nav-item px-3">
                <a href="#messages" class="nav-link">
                    <i class="bi bi-envelope" style="font-size: 2rem;"></i>
                </a>
            </li>
            <li class="nav-item px-3">
                <a href="#profile" class="nav-link">
                  <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

   
