header{
    background-color: rgb(4, 52, 184);
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    border-bottom: black;
    border-width: 10px;
}

h1{
    padding: 1%;
}

.container{
    width:100%;
    overflow:hidden;
    padding :0;
    margin: 0;
}

#Options{
    background-color: rgb(255, 233, 233);
    font: 10px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
}

ul{
    margin:0;
    padding:0;
   
}

li {
    font: 19px/1.5 sans-serif; 
    display: inline-block;
    padding: 1%;
    min-height: 1cm;
    padding-right: 2%;
    padding-left: 2%;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.current{
    background-color: rgb(255, 44, 44);
}

#line{
    display: block;
    border-block: black;
}

#right{
    text-align:right;
    float:right;
    margin-right: 10%;
}
#left{
    text-align:left;
    float:left;
    margin-left: 2%;
}

hr {
    width:100%;
    height: 2px;
    background-color: gray;
    color:gray;
}

.student-table{
    display: grid;
    grid-template-columns: 10px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: repeat(3,50px); 

}

#cont{
    margin-left: 10px;
    font: 20px/10px Arial, Helvetica

}

#cont a{
    margin-left:10px;
    color:blue
}

#cont h1{
    color:black
}

#cont{
    margin: 0;
}

#cont button{
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 233, 233);
    font-size: 20px; 
    line-height: 30px; 
    padding: 20px; 
    border:0;
    
    font-family: Georgia, serif; 
    font-weight: normal;  
    margin: 0;
}

#cont{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(4,130px); 
}

#cont .current{
    background-color: rgb(255, 44, 44);
}


