mat-sidenav-container{
    height:100%;
}
mat-sidenav{
    padding: 0px;
    color: white;
    background-color: #3F51B5;
    width: 350px;
}
span{
    font-size: 20px;
    padding:1rem;
}
.mat-expansion-panel-header {
    .mat-icon{
        padding: 0rem;
        width: 35px;
        font-size: 20px;
    }
    height: 70px;
    font-size: 20px;
    padding-left: 1rem;
    width:100%;
}
.mat-list{
    .mat-icon{
        color:black;
        font-size: 25px;
        width: 35px;


    }
    font-size: 20px;
}

.mat-expansion-panel-body {
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.mat-expansion-panel-header[aria-disabled=true] {
   color:black;
}