<app-header></app-header>


<section>
    <div class="cont">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <h1>Welcome to the<br> <span class="text-primary fw-bolder"> Progressive Student Dashboard </span></h1>
          <h2>
            <span class="text-primary fw-bolder">  The Progressive Student Dashboard (PSM) </span> will  help tutors around the world manage students
          </h2>
          <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
            Login
          </button>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="assets/react.svg" alt="Hello">
      </div>
    </div>
</section>
