.cont{
    padding-left: 0px;
    padding-right:0px;
    text-align: left;
    height:100%;
    margin-left: 70px;
    margin-right: 70px;

}

.section{
    padding-top: 0%;
    font-size: 100px;
    width: 100%;
}

h1{
    font-size: 40px;
    line-height:1.5;
    text-decoration: bold;
}

h2{
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
    line-height:1.5;
    text-decoration: none;
}

  